@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #fcfdff;
}

.home {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.7));
}

.home > .home_container {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}
